.intro-container {
    position: absolute;
    right: 100px;
    top: 200px;
    color: white;
    font-family: Roboto;
}

.intro-container #top {
    font-size: 18px;
    color: white;
}
    
.intro-container #middle {
    width: 400px;
    font-size: 48px;
    letter-spacing: 0.1em;
    color: white;
}

.intro-container #bottom {
    width: 410px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    line-height: 30px;
    color: white;
}

.intro-container a {
    font-size: 48px;
    color: rgba(192, 201, 249, 1);
}
