.social-container {
    position: absolute;
    left: 175px;
    bottom: 200px;
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-container a {
    height: 64;
    width: 64;
    transition: all 0.3s ease-in-out
}

.social-container a:hover {
    transform: scale(1.2);
}