.title_container {
    position: relative;
    height: 800px;
    width: 1320px;
    background-color: #151D3C;
    border-radius: 67px 67px 0 0;
}

.title_container h1 {
    position: absolute;
    width: 276px;
    height: 168px;
    left: 160px;
    top: 150px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.2em;
    text-align: center;
  
    color: white;
}

.title_container #main-portrait {
    position: absolute;
    height: 700px;
    bottom: 0px;
    left: 400px;
}

.title_container #rect1 {
    position: absolute;
    top: 440px;
    left: 230px;
    width: 107px;
    height: 12px;
    background-color: #021DA8;
}


  