.resume-container {
    position: relative;
    width: 1320px;
    background-color: var(--clr2);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.resume-container.loading {
    display: none;
}

@media (max-width: 480px) {
    .projects-container {
        width: 100%;
    }
}
