.contact-container {
    width: 1320px;
    height: 600px;
    margin-bottom: 50px;
    background-color: #151D3C;
    border-radius: 0 0 67px 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

@media (max-width: 480px) {
    .contact-container {
        width: 100%;
    }
}