@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.App {
  position: relative;
  background-color: #151D3C;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

